// Global

$global-border-radius: 4px;

// Colors
$color-primary: #f29200;
$color-white: #fff;
$color-border: #efefef;
$color-border-darker: darken($color-border, 10%);
$color-divider: $color-border;
$color-backgroupnd: #fff;
$color-hightlight-background: #f9f8f3;

$text-dark: #1C2356;
$text-subdued: $text-dark;
$text-dimmed: $text-dark;
$text-muted: $text-dark;
$text-ghost: $text-dark;

$text-light: #fff;
$text-light-subdued: darken($text-light, 20%);
$text-light-dimmed: darken($text-light, 40%);
$text-light-muted: darken($text-light, 60%);

// Color: Typography
$heading-color: $text-dark;
$text-color: $text-subdued;
$overline-color: $text-dimmed;

// Typography
$typographic-font-family: freight-sans-pro,
-apple-system,
system-ui,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$typographic-heading-font-family: freight-sans-pro,
-apple-system,
system-ui,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;
$typographic-heading-font-weight: 700;
$typographic-root-font-size: 100;
$typographic-base-font-size: 18px;
$typographic-base-font-size-mobile: 16px;
$typographic-base-font-weight: normal;
$typographic-small-font-size: 14px;
$typographic-base-line-height: 1.68;
$typographic-leading: round(strip-unit($typographic-base-font-size) * ($typographic-root-font-size / 100) * $typographic-base-line-height);
$typographic-heading-transform: normal;
// Desktop type sizes
$font-size-heading-1: 50px;
$font-size-heading-2: 44px;
$font-size-heading-3: 32px;
$font-size-heading-4: 24px;
$font-size-heading-5: 20px;
$font-size-heading-6: 18px;
$font-size-body-xl: 20px;
$font-size-body-l: 18px;
$font-size-body: $typographic-base-font-size;
$font-size-body-s: 14px;
$font-size-body-xs: 12px;
$font-size-overline: 12px;
$font-size-menu: 12px;
$font-size-button: 16px;

// Mobile type sizes
$font-size-heading-1-mobile: 30px;
$font-size-heading-2-mobile: 26px;
$font-size-heading-3-mobile: 24px;
$font-size-heading-4-mobile: 20px;
$font-size-heading-5-mobile: 18px;
$font-size-heading-6-mobile: 20px;
$font-size-body-xl-mobile: 16px;
$font-size-body-l-mobile: 18px;
$font-size-body-mobile: $font-size-body;
$font-size-body-s-mobile: $font-size-body-s;
$font-size-body-xs-mobile: $font-size-body-xs;
$font-size-overline-mobile: 11px;
$font-size-menu-mobile: 12px;
$font-size-button-mobile: 16px;

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Layout Breakpoints
$layout-width: 1140px;
$layout-breakpoint-xs: 320px;
$layout-breakpoint-sm: 640px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1200px;

// Buttons
$button-font-size: $font-size-button;
$button-font-weight: 600;
$button-large-height: 56px;
$button-medium-height: 48px;
$button-small-height: 40px;
$button-border: 1px;
$button-text-style: normal;
$button-letter-spacing: 0px;
$button-border-radius: $global-border-radius;

$color-button-text: $color-white;
$color-button-text-hover: $color-white;
$color-button-background: $color-primary;
$color-button-background-hover: darken($color-primary, 10%);
$color-button-border: transparent;
$color-button-border-hover: transparent;

$color-button-secondary-text: #000;
$color-button-secondary-text-hover: $color-white;
$color-button-secondary-background: transparent;
$color-button-secondary-background-hover: $color-primary;
$color-button-secondary-border: transparent;
$color-button-secondary-border-hover: transparent;

$color-button-link-text: #000;
$color-button-link-text-hover: #000;

// Inputs

// Header
$header-height: 100px;
$header-mobile-height: 60px;
$header-menu-font-weight: 700;
$header-menu-letter-spacing: 2px;
$header-menu-font-style: uppercase;
$color-header-background: #fff;
$color-header-border: $color-border;
$color-header-hover: #fff;
$color-header-menu: #000;
$color-header-menu-hover: #000;
$color-header-menu-active: #000;
$color-header-text: $text-color;
$color-header-text-hover: #000;

// Footer
$color-footer-background: #fff;
$color-footer-border: $color-border;
$color-footer-text: #000;
$color-footer-copyright: #333;
$color-footer-menu: #000;
$color-footer-menu-hover: #000;

// Input
$input-placeholder: #text-muted;
$input-text-color: $text-subdued;
$input-border: darken($color-border, 5%);
$input-border-hover: darken($input-border, 5%);
$input-border-focus: $color-primary;
$color-input-background: #f6f6f6;
$color-input-border: transparent;
$color-input-border-hover: darken($color-border-darker, 10%);

// Content
$content-width: 720px;
