@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin clear-top-margin {

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  p:first-child,
  a:first-child {
    margin-top: 0;
  }
}
