@mixin buttonReset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

%button {
  $button-height: $button-medium-height;
  @include buttonReset;
  @include button;
  /* default for <button>, but useful for <a> */
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  line-height: 1;
  text-transform: $button-text-style;
  letter-spacing: $button-letter-spacing;
  border-radius: $button-border-radius;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid $button-border $color-button-border;
  border-radius: $button-border-radius;

  /* size comes from text & padding (no width/height) */
  padding: calc((#{$button-height} - #{$button-font-size} - #{$button-border * 2}) / 2);

  /* make sure colors have enough contrast! */
  color: $color-button-text;
  background-color: $color-button-background;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   transform: translate3d(-100%, 0, 0);
  //   z-index: 1;
  //   background: red;
  //   transition: transform 300ms ease, color 300ms ease;
  // }

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:hover {
    color: $color-button-text-hover;
    border-color: $color-button-border-hover;
    background-color: $color-button-background-hover;

    // &::before {
    //   transform: translate3d(0, 0, 0);
    // }
  }

  :focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
  }

  &:focus:not(.focus-visible) .js-focus-visible & {
    box-shadow: none;
  }

  ::-moz-focus-inner {
    border: none;
  }
}

%buttonSecondary {
  @extend %button;
  background-color: $color-button-secondary-background;
  border-color: $color-button-secondary-border;
  color: $color-button-secondary-text;

  &:hover {
    color: $color-button-secondary-text-hover;
    border-color: $color-button-secondary-border-hover;
    background-color: $color-button-secondary-background-hover;
  }
}

%buttonLarge {
  $button-height: $button-large-height;
  padding: calc((#{$button-height} - #{$button-font-size} - #{$button-border * 2}) / 2);
}

%buttonSmall {
  $button-height: $button-small-height;
  padding: calc((#{$button-height} - #{$button-font-size} - #{$button-border * 2}) / 2);
}

%buttonSecondaryLight {
  @extend %buttonSecondary;
  border-color: $color-white;
  background: transparent;
  color: $text-light;
}

%buttonGhost {
  background: transparent;
  border-color: transparent;
  color: $text-color;

  &:hover,
  &:active {
    background: transparent;
    border-color: transparent;
  }
}

%buttonLink {
  @extend %buttonGhost;
  @include body;
  letter-spacing: 0;
  text-transform: none;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;

  &:hover,
  &:active {
    color: inherit;
  }
}
