@import '../assets/scss/helpers';

$section-spacing: 5rem;
$section-hero: 6rem;

.hero {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    max-width: 600px;
    z-index: 20;
    padding: 180px 0;
    text-align: center;
  }

  .button {
    @extend %button;
    margin-top: 1.5rem;
    display: inline-flex;

    svg {
      margin-top: -1px;
      margin-right: 8px;
    }
  }

  .body {
    display: none;
  }

  .title {
    margin-top: 0;
    color: $color-white;
    text-shadow: 2px 0px 5px transparentize($text-dark, 0.7);
  }

  .image {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.15);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
    }
  }
}

// .hero {
//   display: grid;
//   grid-row-gap: $section-hero;
//   padding-top: $section-hero / 1.5;
//   grid-template-columns: repeat(12, 1fr);

//   .title {
//     @include h1;
//     margin-top: 0;
//     grid-column: span 6;
//   }

//   .body {
//     grid-column-end: none;
//     grid-column-start: 8;

//     &>* {
//       @include body;
//     }
//   }

//   .image {
//     grid-column: span 12;
//   }
// }
.sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}

.about {
  margin: $section-spacing 0;

  .features {
    list-style: none;
    display: block;
    grid-column: span 12;
    grid-gap: 32px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .roundedIcon {
      position: relative;
      border-radius: 300px;
      margin: 0 auto;
      width: 56px;
      height: 56px;
      background: $color-primary;
      color: $color-white;

      svg {
        position: absolute;
        left: 50%;
        top: calc(50% - 2px);
        transform: translate(-50%, -50%);
      }
    }

    li {
      text-align: center;
      margin-bottom: 3.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .image {
      margin-top: 0;
      width: 48px;
      height: 48px;
    }

    .paragraph {
      @include body;
    }

    h4,
    .title {
      @include h5;
      margin-top: 1rem;
    }

    p {
      margin-top: 0.5rem;
    }
  }
}

// .about {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   margin: $section-spacing 0;

//   .leftContent,
//   .rightContent {
//     grid-column: span 6;

//     .image {
//       margin-top: $section-spacing;
//     }
//   }

//   .leftContent {
//     .title {
//       margin: 0;
//     }

//     .body p {
//       @include body;
//     }
//   }

//   .rightContent {
//     grid-column-start: 8;
//     grid-column-end: none;
//   }

//   .features {
//     list-style: none;
//     display: block;
//     margin: 0;
//     padding: 0;

//     .roundedIcon {
//       position: relative;
//       border-radius: 300px;
//       width: 56px;
//       height: 56px;
//       background: $color-primary;
//       color: $color-white;

//       svg {
//         position: absolute;
//         left: 50%;
//         top: calc(50% - 2px);
//         transform: translate(-50%, -50%);
//       }
//     }

//     li {
//       margin-bottom: 3.5em;

//       &:last-child {
//         margin-bottom: 0;
//       }
//     }

//     .image {
//       margin-top: 0;
//       width: 48px;
//       height: 48px;
//     }

//     .paragraph {
//       @include body;
//     }

//     h4,
//     .title {
//       @include h5;
//       margin-top: 1rem;
//     }

//     p {
//       margin-top: 0.5rem;
//     }
//   }
// }

.partners {

  .grid {
    margin: 2rem 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .sectionTitle .image {
    position: relative;
    display: inline-block;
    margin-top: 1rem !important;
    height: 45px;
    top: 10px;
  }

  .item {
    margin: 0;
    padding: 1rem;
    background: $color-white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 3px;
    display: grid;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    h5 {
      @include h6;
      margin-top: 1.5rem;
    }

    small {
      @include body-s;
      text-transform: none;
      letter-spacing: 0;
    }

    a {
      display: block;
      margin-top: 0.5rem;
      text-decoration: none;
    }

    .imageWrapper {
      overflow: hidden;
      box-sizing: content-box;
      width: auto;
      padding: 20px 20px;
      height: 80px;

      &>div {
        display: flex;
        height: 100%;

        img {
          left: 50% !important;
          top: 50% !important;
          transform: translate(-50%, -50%);
          width: auto !important;
          height: auto !important;
          max-width: 100%;
          max-height: 100%;
          height: auto !important;
        }
      }
    }

    img {
      max-width: 100%;
    }

    ul,
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .social {
      align-self: end;
      margin: 1.5rem 0 0 0;
      border-top: 1px solid $color-border;
      padding: 0.5rem 0 0 0;

      li {
        padding: 0;
        display: inline-block;
        margin: 0 0.25rem;

        a {
          color: $text-dark;
          display: block;
        }
      }
    }
  }
}
